<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-commande-heading" jhiTranslate="bazarv3App.commande.home.createOrEditLabel">Create or edit a Commande</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bazarv3App.commande.reference" for="field_reference">Reference</label>
                    <input type="text" class="form-control" name="reference" id="field_reference"
                           formControlName="reference"/>
                    <div *ngIf="editForm.get('reference')!.invalid && (editForm.get('reference')!.dirty || editForm.get('reference')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('reference')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Reference' }">
                            This field should follow pattern for "Reference".
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bazarv3App.commande.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker #dateDp="ngbDatepicker" formControlName="date"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bazarv3App.commande.statut" for="field_statut">Statut</label>
                    <select class="form-control" name="statut" formControlName="statut" id="field_statut">
                        <option value="Commande">{{ 'bazarv3App.StatCmd.Commande' | translate }}</option>
                        <option value="Annulee">{{ 'bazarv3App.StatCmd.Annulee' | translate }}</option>
                        <option value="Confirmed">{{ 'bazarv3App.StatCmd.Confirmed' | translate }}</option>
                        <option value="Preparation">{{ 'bazarv3App.StatCmd.Preparation' | translate }}</option>
                        <option value="Livraison">{{ 'bazarv3App.StatCmd.Livraison' | translate }}</option>
                        <option value="Livree">{{ 'bazarv3App.StatCmd.Livree' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bazarv3App.commande.naturePiece" for="field_naturePiece">Nature Piece</label>
                    <select class="form-control" name="naturePiece" formControlName="naturePiece" id="field_naturePiece">
                        <option value="Commande">{{ 'bazarv3App.NaturePiece.Commande' | translate }}</option>
                        <option value="Confcommande">{{ 'bazarv3App.NaturePiece.Confcommande' | translate }}</option>
                        <option value="Livraison">{{ 'bazarv3App.NaturePiece.Livraison' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bazarv3App.commande.totalHT" for="field_totalHT">Total HT</label>
                    <input type="number" class="form-control" name="totalHT" id="field_totalHT"
                           formControlName="totalHT"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bazarv3App.commande.totalTVA" for="field_totalTVA">Total TVA</label>
                    <input type="number" class="form-control" name="totalTVA" id="field_totalTVA"
                           formControlName="totalTVA"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bazarv3App.commande.totalRemise" for="field_totalRemise">Total Remise</label>
                    <input type="number" class="form-control" name="totalRemise" id="field_totalRemise"
                           formControlName="totalRemise"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bazarv3App.commande.totTTC" for="field_totTTC">Tot TTC</label>
                    <input type="number" class="form-control" name="totTTC" id="field_totTTC"
                           formControlName="totTTC"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bazarv3App.commande.zone" for="field_zone">Zone</label>
                    <input type="text" class="form-control" name="zone" id="field_zone"
                           formControlName="zone"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bazarv3App.commande.dateLivraison" for="field_dateLivraison">Date Livraison</label>
                    <div class="input-group">
                        <input id="field_dateLivraison" type="text" class="form-control" name="dateLivraison" ngbDatepicker #dateLivraisonDp="ngbDatepicker" formControlName="dateLivraison"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateLivraisonDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bazarv3App.commande.creeLe" for="field_creeLe">Cree Le</label>
                    <div class="input-group">
                        <input id="field_creeLe" type="text" class="form-control" name="creeLe" ngbDatepicker #creeLeDp="ngbDatepicker" formControlName="creeLe"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="creeLeDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bazarv3App.commande.creePar" for="field_creePar">Cree Par</label>
                    <input type="number" class="form-control" name="creePar" id="field_creePar"
                           formControlName="creePar"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bazarv3App.commande.modifieLe" for="field_modifieLe">Modifie Le</label>
                    <div class="input-group">
                        <input id="field_modifieLe" type="text" class="form-control" name="modifieLe" ngbDatepicker #modifieLeDp="ngbDatepicker" formControlName="modifieLe"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="modifieLeDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bazarv3App.commande.modifiePar" for="field_modifiePar">Modifie Par</label>
                    <input type="number" class="form-control" name="modifiePar" id="field_modifiePar"
                           formControlName="modifiePar"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bazarv3App.commande.idClient" for="field_idClient">Id Client</label>
                    <select class="form-control" id="field_idClient" name="idClient" formControlName="idClientId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clientOption.id" *ngFor="let clientOption of clients; trackBy: trackById">{{ clientOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bazarv3App.commande.idAdresse" for="field_idAdresse">Id Adresse</label>
                    <select class="form-control" id="field_idAdresse" name="idAdresse" formControlName="idAdresseId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="adresseOption.id" *ngFor="let adresseOption of adresses; trackBy: trackById">{{ adresseOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
