<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-sous-categorie-heading" jhiTranslate="bazarv3App.sousCategorie.home.createOrEditLabel">Create or edit a Sous Categorie</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bazarv3App.sousCategorie.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                    <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nom')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bazarv3App.sousCategorie.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bazarv3App.sousCategorie.position" for="field_position">Position</label>
                    <input type="number" class="form-control" name="position" id="field_position"
                           formControlName="position"/>
                    <div *ngIf="editForm.get('position')!.invalid && (editForm.get('position')!.dirty || editForm.get('position')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('position')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('position')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bazarv3App.sousCategorie.etat" for="field_etat">Etat</label>
                    <input type="checkbox" class="form-control" name="etat" id="field_etat"
                           formControlName="etat"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bazarv3App.sousCategorie.creeLe" for="field_creeLe">Cree Le</label>
                    <div class="input-group">
                        <input id="field_creeLe" type="text" class="form-control" name="creeLe" ngbDatepicker #creeLeDp="ngbDatepicker" formControlName="creeLe"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="creeLeDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bazarv3App.sousCategorie.creePar" for="field_creePar">Cree Par</label>
                    <input type="number" class="form-control" name="creePar" id="field_creePar"
                           formControlName="creePar"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bazarv3App.sousCategorie.modifieLe" for="field_modifieLe">Modifie Le</label>
                    <div class="input-group">
                        <input id="field_modifieLe" type="text" class="form-control" name="modifieLe" ngbDatepicker #modifieLeDp="ngbDatepicker" formControlName="modifieLe"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="modifieLeDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bazarv3App.sousCategorie.modifiePar" for="field_modifiePar">Modifie Par</label>
                    <input type="number" class="form-control" name="modifiePar" id="field_modifiePar"
                           formControlName="modifiePar"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bazarv3App.sousCategorie.categorie" for="field_categorie">Categorie</label>
                    <select class="form-control" id="field_categorie" name="categorie" formControlName="categorieId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categorieOption.id" *ngFor="let categorieOption of categories; trackBy: trackById">{{ categorieOption.nom }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
