<div>
    <h2 id="page-heading">
        <span jhiTranslate="bazarv3App.sousCategorie.home.title">Sous Categories</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sous-categorie" [routerLink]="['/sous-categorie/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="bazarv3App.sousCategorie.home.createLabel">
            Create a new Sous Categorie
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'bazarv3App.sousCategorie.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="sousCategories?.length === 0">
        <span jhiTranslate="bazarv3App.sousCategorie.home.notFound">No sousCategories found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="sousCategories?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="bazarv3App.sousCategorie.nom">Nom</span></th>
                    <th scope="col" ><span jhiTranslate="bazarv3App.sousCategorie.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="bazarv3App.sousCategorie.position">Position</span></th>
                    <th scope="col" ><span jhiTranslate="bazarv3App.sousCategorie.etat">Etat</span></th>
                    <th scope="col" ><span jhiTranslate="bazarv3App.sousCategorie.creeLe">Cree Le</span></th>
                    <th scope="col" ><span jhiTranslate="bazarv3App.sousCategorie.creePar">Cree Par</span></th>
                    <th scope="col" ><span jhiTranslate="bazarv3App.sousCategorie.modifieLe">Modifie Le</span></th>
                    <th scope="col" ><span jhiTranslate="bazarv3App.sousCategorie.modifiePar">Modifie Par</span></th>
                    <th scope="col" ><span jhiTranslate="bazarv3App.sousCategorie.categorie">Categorie</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sousCategorie of sousCategories ;trackBy: trackId">
                    <td><a [routerLink]="['/sous-categorie', sousCategorie.id, 'view']">{{ sousCategorie.id }}</a></td>
                    <td>{{ sousCategorie.nom }}</td>
                    <td>{{ sousCategorie.description }}</td>
                    <td>{{ sousCategorie.position }}</td>
                    <td>{{ sousCategorie.etat }}</td>
                    <td>{{ sousCategorie.creeLe | date:'mediumDate' }}</td>
                    <td>{{ sousCategorie.creePar }}</td>
                    <td>{{ sousCategorie.modifieLe | date:'mediumDate' }}</td>
                    <td>{{ sousCategorie.modifiePar }}</td>
                    <td>
                        <div *ngIf="sousCategorie.categorieId">
                            <a [routerLink]="['/categorie', sousCategorie.categorieId , 'view']" >{{ sousCategorie.categorieNom }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/sous-categorie', sousCategorie.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/sous-categorie', sousCategorie.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(sousCategorie)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
