<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="prodEnumeration">
            <h2><span jhiTranslate="bazarv3App.prodEnumeration.detail.title">Prod Enumeration</span> {{ prodEnumeration.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bazarv3App.prodEnumeration.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'bazarv3App.ProdEnum.' + prodEnumeration.type }}">{{ prodEnumeration.type }}</span>
                </dd>
                <dt><span jhiTranslate="bazarv3App.prodEnumeration.nom">Nom</span></dt>
                <dd>
                    <span>{{ prodEnumeration.nom }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/prod-enumeration', prodEnumeration.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
