<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="produitUnite">
            <h2><span jhiTranslate="bazarv3App.produitUnite.detail.title">Produit Unite</span> {{ produitUnite.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bazarv3App.produitUnite.prdunite">Prdunite</span></dt>
                <dd>
                    <span>{{ produitUnite.prdunite }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/produit-unite', produitUnite.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
