<div>
    <h2 id="page-heading">
        <span jhiTranslate="bazarv3App.images.home.title">Images</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-images" [routerLink]="['/images/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="bazarv3App.images.home.createLabel">
            Create a new Images
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'bazarv3App.images.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="images?.length === 0">
        <span jhiTranslate="bazarv3App.images.home.notFound">No images found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="images?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="bazarv3App.images.type">Type</span></th>
                    <th scope="col" ><span jhiTranslate="bazarv3App.images.image">Image</span></th>
                    <th scope="col" ><span jhiTranslate="bazarv3App.images.idProduit">Id Produit</span></th>
                    <th scope="col" ><span jhiTranslate="bazarv3App.images.idCategorie">Id Categorie</span></th>
                    <th scope="col" ><span jhiTranslate="bazarv3App.images.idSousCategorie">Id Sous Categorie</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let images of images ;trackBy: trackId">
                    <td><a [routerLink]="['/images', images.id, 'view']">{{ images.id }}</a></td>
                    <td jhiTranslate="{{ 'bazarv3App.ImgType.' + images.type }}">{{ images.type }}</td>
                    <td>
                        <a *ngIf="images.image" (click)="openFile(images.imageContentType, images.image)">
                            <img [src]="'data:' + images.imageContentType + ';base64,' + images.image" style="max-height: 30px;" alt="images image"/>
                        </a>
                        <span *ngIf="images.image">{{ images.imageContentType }}, {{ byteSize(images.image) }}</span>
                    </td>
                    <td>
                        <div *ngIf="images.idProduitId">
                            <a [routerLink]="['/produit', images.idProduitId , 'view']" >{{ images.idProduitId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="images.idCategorieId">
                            <a [routerLink]="['/categorie', images.idCategorieId , 'view']" >{{ images.idCategorieId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="images.idSousCategorieId">
                            <a [routerLink]="['/sous-categorie', images.idSousCategorieId , 'view']" >{{ images.idSousCategorieId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/images', images.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/images', images.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(images)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
