<div>
    <h2 id="page-heading">
        <span jhiTranslate="bazarv3App.codePostaux.home.title">Code Postauxes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-code-postaux" [routerLink]="['/code-postaux/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="bazarv3App.codePostaux.home.createLabel">
            Create a new Code Postaux
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'bazarv3App.codePostaux.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="codePostauxes?.length === 0">
        <span jhiTranslate="bazarv3App.codePostaux.home.notFound">No codePostauxes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="codePostauxes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="bazarv3App.codePostaux.gouvernorat">Gouvernorat</span></th>
                    <th scope="col" ><span jhiTranslate="bazarv3App.codePostaux.ville">Ville</span></th>
                    <th scope="col" ><span jhiTranslate="bazarv3App.codePostaux.localite">Localite</span></th>
                    <th scope="col" ><span jhiTranslate="bazarv3App.codePostaux.codePostal">Code Postal</span></th>
                    <th scope="col" ><span jhiTranslate="bazarv3App.codePostaux.modifieLe">Modifie Le</span></th>
                    <th scope="col" ><span jhiTranslate="bazarv3App.codePostaux.modifiePar">Modifie Par</span></th>
                    <th scope="col" ><span jhiTranslate="bazarv3App.codePostaux.zone">Zone</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let codePostaux of codePostauxes ;trackBy: trackId">
                    <td><a [routerLink]="['/code-postaux', codePostaux.id, 'view']">{{ codePostaux.id }}</a></td>
                    <td>{{ codePostaux.gouvernorat }}</td>
                    <td>{{ codePostaux.ville }}</td>
                    <td>{{ codePostaux.localite }}</td>
                    <td>{{ codePostaux.codePostal }}</td>
                    <td>{{ codePostaux.modifieLe | date:'mediumDate' }}</td>
                    <td>{{ codePostaux.modifiePar }}</td>
                    <td>
                        <div *ngIf="codePostaux.zoneId">
                            <a [routerLink]="['/zone', codePostaux.zoneId , 'view']" >{{ codePostaux.zoneNom }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/code-postaux', codePostaux.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/code-postaux', codePostaux.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(codePostaux)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
